{% extends 'phoenix/base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h1>Login</h1>
        <div class="card">
            <div class="card-body">
                {% if form.errors %}
                    <div class="alert alert-danger">Your username and password didn't match. Please try again.</div>
                {% endif %}
                {% if next %}
                    {% if user.is_authenticated %}
                        <div class="alert alert-danger">Your account doesn't have access to this page. To proceed, please login with an account that has access.</div>
                    {% else %}
                        <div class="alert alert-danger">Please login to see this page.</div>
                    {% endif %}
                {% endif %}

                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Username</label>
                        {{ form.username|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label>{{ form.password.label_tag }}</label>
                        {{ form.password|add_class:"form-control" }}
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <input type="hidden" name="next" value="{{ next }}">

                </form>                
            </div>
        </div>
    </div>
</div>

{% endblock %}
