{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css'  %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
      <link rel="shortcut icon" type='image/png' href="{% static 'rainbow.png' %}">
    <link rel="icon" type='image/png' href="{% static 'rainbow.png' %}">
      <style type="text/css">
          body {
              font-family: 'Source Sans Pro', sans-serif;
          }
      </style>
    <title>{{ PHOENIX_NAME }} :: Phoenix</title>
  </head>
  <body>



    <div class="container-fluid mt-3 mb-3">
    <h1 style="padding-bottom: 1em;"><a href="{% url 'index' %}">🌈</a>PHOENIX | {{ PHOENIX_NAME}}</h1>
        {% block content %}
        {% endblock content %}
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>

  </body>
</html>