{% extends 'phoenix/session_base.html' %}
{% block sessioncontent %}

    <form action="{% url 'record_attendee' session.id %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="member" class="form-label">Attendee</label>
            <select id="member" name="member" class="form-select" aria-label="Member" aria-describedby="memberHelp">
                {% for member in members %}
                    <option value="{{ member.id }}">{{ member.legal_name }}</option>
                {% endfor %}
            </select>
            <div id="memberHelp" class="form-text">Only members of the appropriate bubble who are not already recorded
                in this session are shown.
            </div>
        </div>
        <div class="mb-3">
            <label for="temperature" class="form-label">Temperature</label>
            <input type="number" class="form-control" id="temperature" name="temperature" aria-describedby="tempHelp">
             <div id="tempHelp" class="form-text">Optional.
            </div>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="test_passed" name="test_passed">
            <label class="form-check-label" for="test_passed">
                Temperature Check Passed?
            </label>
        </div>

    <p>&nbsp;</p>

        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </form>
{% endblock %}
