{% extends 'phoenix/session_base.html' %}
{% block sessioncontent %}
    <h4>Actions</h4>
    <a class="btn btn-primary btn-sm" href="{% url 'record_attendee' session.id %}" role="button">Record Attendee...</a>
    <a class="btn btn-primary btn-sm" href="{% url 'print_session' session.id %}" role="button">Download PDF...</a>
    <a class="btn btn-primary btn-sm disabled" href="#" role="button">Submit to BRSF...</a>

    <p>&nbsp;</p>
    <h4>Attendees</h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Temp Check Passed?</th>
            <th scope="col">Temperature</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for attendee in session.sessionattendance_set.all %}
            <tr>
                <th scope="row">
                    {{ attendee.member.legal_name }}
                </th>
                <td>
                    {% if attendee.test_pass %}
                        &checkmark;
                    {% else %}
                        &cross;
                    {% endif %}

                </td>
                <td>
                    {{ attendee.temperature|default_if_none:"--" }}
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{% url 'delete_attendee' attendee_id=attendee.id %}" role="button">Delete...</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
