{% extends 'phoenix/base.html' %}
{% block content %}
    <h2 style="padding-bottom: 0.5em;"><a href="{% url 'session' session.id %}">📅</a> {{ session.time }} at {{ session.place }} <span class="badge rounded-pill bg-primary">Bubble {{ session.bubble }}</span>
    </h2>

{% block sessioncontent %}
{% endblock %}
{% endblock%}
