{% extends 'phoenix/base.html' %}
{% block content %}
    <h2>Sessions</h2>
    <h3>Upcoming</h3>
    <table class="table">
    <thead>
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Venue</th>
        <th scope="col">Bubble</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for session in sessions %}
        <tr>
        <th scope="row">
            {{ session.time }}
        </th>
        <td>
            {{ session.place }}
        </td>
          <td>
            {{ session.bubble }}
        </td>
          <td>
              <a class="btn btn-primary btn-sm" href="{% url 'session' session.id  %}" role="button">View...</a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <h3>Previous</h3>
        <table class="table">
    <thead>
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Venue</th>
        <th scope="col">Bubble</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for session in sessions %}
        <tr>
        <th scope="row">
            {{ session.time }}
        </th>
        <td>
            {{ session.place }}
        </td>
          <td>
            {{ session.bubble }}
        </td>
          <td>
              <a class="btn btn-primary btn-sm" href="{% url 'session' session.id  %}" role="button">View...</a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
